.container {
  padding: 0 15px;
  margin: 0 auto;
  min-width: 320px;
  max-width: 407px;

  @media (min-width: $phablet) {
    padding: 0 30px;
    min-width: 408px;
    max-width: 700px;
  }

  @media (min-width: $tablet) {
    min-width: 701px;
    max-width: 999px;
  }

  @media (min-width: $desktop-min) {
    padding: 0 60px;
    min-width: 1000px;
    max-width: 1439px;
  }

  @media (min-width: $desktop-max) {
    width: 1440px;
  }
}
