$mobile: 320px;
$phablet: 408px;
$tablet: 701px;
$desktop-min: 1001px;
$desktop-max: 1440px;

$purple: #8F328A;
$green: #008F40;
$dark-blue: #008F40;
$light-blue: #369BD7;
$orange: #ED7604;
$red: #E43628;
$black: #000000;
$intro-background: #8E0028;
$intro-slogan-button-text: #8E0129;
$intro-property-red: #E43628;
$intro-property-orange: #ED7604;
$intro-property-lightblue: #369BD7;
$intro-property-red-darkblue: #0065B1;
$intro-property-green: #008F40;
$intro-property-purple: #8F328A;
$white: #ffffff;
$grey-pop-up-text: #6E6E6E;
$navigation-dark-blue: #005BFF;
$navigation-purple: #B001B4;
$navigation-yellow: #FCD006;
$navigation-green: #29A61A;
$navigation-light-blue: #039BE4;
$button-intro-active: #FF3F4A;
